header {
  border-bottom: solid 1px rgba(0,0,0,0.4);
  background-color: #00693e;
  color: white;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: relative;
}

div {
  display: block;
}

header h1 {
  font-size: 30px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

body {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
}

#main {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  display: flex;
}

.page {
  margin: 0 auto;
  width: 1100px;
}

#graphs {
  float: left;
}

.control-panel {
  float: left;
  width: 180px;
  margin-left: 50px;
  margin-right: 50px;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.graph {
  padding: 10px;
}

#top-controls {
  border-bottom: 1px solid #ddd;
  padding: 18px 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  background: white;
}

#neuronselector {
  float: left;
  width: 200px;
}

.equation {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

#controls .select {
  margin-left: 50px;
}

#spiketrain {
  float: left;
}

#ifcurvegraph {
  float: right;
  width: 300px;
}

#noise {
  float: left;
}

#orbit {
  float: left;
}

.left, .right {
  display: table-cell;
}

.container {
  display: table;
}

.row {
  display: table-row;
}

.neuronInput {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.38em;
  color: #777;
  font-size: 13px;
  margin-top: 10px;
}
